.item{
    color: red;
    flex: 1 1 auto;
  margin: 0 5px;
  
        }
     .item img {
         width: 300px;
         height: 300px;
        
     }
     .text{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: white;
        margin-left: 20px;
        float: left;
        display: block;
        width: 150px;
        height: 30px;

        
     }
     .text2{
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      color: white;
      float: left;
      display: block;
      width: 100px;
      height: 30px;
      margin-top: 15px;
  
      
   }
     .border {
        text-decoration: none;
        display: inline-block;
        margin: 10px 20px;
        padding: 10px 30px;
        position: relative;
        border: 2px solid;
        border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
        font-family: 'Montserrat', sans-serif;
        color: white;
        border-image-slice: 1;
        transition: .4s;
        margin-left: 40px;
        background-color: #34353a;
        
      }
      .border:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: .4s;
      }
      .border:hover:after {
        border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
        border-image-slice: 1;
        width: calc(100% - 10px);
        height: calc(100% + 10px);
      }