.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
}

.toggleButton {
  margin-top: 20px;
  font-size: 14px;
  color: #61dafb;
  background: none;
  border: none;
  cursor: pointer;
}